*{
	padding: 0px;
	margin: 0px;
}


body{
	width: 100%;
	margin: 0px auto;
	font-family: times new romnan;
	font-size: 15px;
}
#header{
	background: url('images/2.jpg');
	height: 375px;
	width: 1141px;
	margin: auto;
}
#menu-bar{
	position: absolute;
	font-size: 20px;
	top: 175px;
	left: 980px;
	width: 60%;
}
#menu-bar a:hover{
	color: green;
}

#menu nav a{
	text-decoration: none;
	color: black;
	margin-left: 15px;
	line-height: 50px;
}
#logo{
    text-align: center;
    margin-top: 150px;
    margin-right: 380px;
}
#them{
	text-align: center;
	margin-top: 100px;
}
#xoa{
	text-align: center;
}
#thembenh1{
	text-align: center;
}
#xoabenh1{
	text-align: center;
}
