*{
    padding: 0px;
    margin: 0px;
}


body{
    width: 100%;
    margin: 0px auto;
    font-family: times new romnan;
    font-size: 15px;
}
#header{
    background: url('images/2.jpg');
    height: 375px;
    width: 1141px;
    margin: auto;
}
#menu{
    background: white;
    height: 80px;
    width: 1141px;
    position: relative;
    margin-top: 15px;
    margin: 0px auto;
}
#logo{
    position: absolute;
    width: 40%;
    height: 90px;
    font-size: 20px;
    background-repeat: no-repeat;
}
#menu-bar{
    position: absolute;
    font-size: 20px;
    top: 18px;
    left: 456px;
    width: 60%;
}
#menu-bar a:hover{
    color: green;
}

#menu nav a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    line-height: 50px;
}


#content{
    margin-top: 15px;
    height: 900px;
    position: relative;
}
#footer{
    margin-top: 15px;
    background: gray;
    clear: both;
}
form {
    border: 3px solid #f1f1f1;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin:  5%;
    position: absolute;
    left: 20%;
}

#nutgui {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px 14px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    width: 70px;
    position: absolute;
    left: 40%;
}

/* Add a hover effect for buttons */
#nutgui:hover {
    opacity: 0.8;
}
#img{
    width: 100px;
    height: 100px;
}
#left{
    
    height: 900px;
    width: 70%;
    float: left;
    position: relative;
}
#right{
    
    height: 900px;
    width: 30%;
    float: right;
}
.error {color: red;}



