*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 1141px;
	margin: 0px auto;
	font-family: times new romnan;
	font-size: 15px;
}
#header{
	background: url('images/2.jpg');
	height: 375px;
	width: 1141px;
	margin: auto;
}
#menu{
	background: white;
	height: 80px;
	position: relative;
	margin-top: 15px;
}
#logo{
	position: absolute;
	width: 40%;
	height: 90px;
	font-size: 20px;
	background-repeat: no-repeat;
}
#menu-bar{
	position: absolute;
	font-size: 20px;
	top: 18px;
	left: 456px;
	width: 40%;
}
#menu-bar a:hover{
	color: green;
}

#menu nav a{
	text-decoration: none;
	color: black;
	margin-left: 15px;
	line-height: 50px;
}
#login-register{
	position: absolute;
	left: 934px;
	top: 20px;
	width: 20%;
}
#login-register a:hover{
	color: green;
}
#login-register1{
	height: 30px;
	position: absolute;
	left: 934px;
	top: 47px;
}
#input{
	position: absolute;
	top: -9px;
}
#slides{
	background: green;
	height: 300px;
	margin-top: 15px;
}
#content{
	margin-top: 15px;
	height: 900px;
	position: relative;
}
#content-column1 a p:hover{
	color: green;
}
#content-column2 a p:hover{
	color: green;
}
#content-column3 a p:hover{
	color: green;
}
#content-column1{
	width: 360px;
	background: white;
	position: absolute;
	top: 20px;
}
#content-column1 p{
	color: black;
}
#content-column2 p{
	color: black;
}
#content-column3 p{
	color: black;
}
#a{
	text-decoration: none;
}
#p{
	color: blue;
	padding-top:5px;
	text-align: center;
}
#img{
	width: 360px;
	height: 240px;
	margin-top: 20px;
}
#content-column2{
	width: 360px;
	background: white;
	position: absolute;
	top: 20px;
	left: 392px;
}
#content-column3{
	width: 360px;
	background: white;
	position: absolute;
	top: 20px;
	left: 781px;
}
#footer{
	margin-top: 15px;
	background: gray;
}
#Ten{
	font-size: 19px;
}
#p{
	font-size: 18px;
}